html {
    background-image: linear-gradient(to bottom right, #ffeead, #ff6f69, #87bdd8e8);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    margin: 0%;
    text-align: center;
}

div {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

#title {
    width: 100%;
}

#userInfoContainer {
    line-height: 150%;
    font-size: .85em;
    width: 25%;
    min-width: 100px;
    overflow: hidden;
    background: #87bdd8e8;
}

label, button {
    display: inline-block;
    padding: 10px;
}

#loginButtons {
    padding-top: 10px;
    padding-bottom: 10px;
}